<% provide :title, 'Projects' %>

<div class="page-title page-title-dark page-title-normal" style="background-image: url(https://techno-soft.com/wp-content/uploads/2018/06/bg-ts-site.jpg);">
  <div class="inner">
    <div class="breadcrumbs"><!-- Breadcrumb NavXT 6.2.1 -->
      <span property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="Go to Technosoft Solutions." href="<%= root_url %>" class="home">
          <span property="name">Home</span>
        </a>
        <meta property="position" content="1">
      </span>
      <span class="separator background-primary"></span>
      <span property="itemListElement" typeof="ListItem">
        <span property="name">Projects</span>
        <meta property="position" content="2">
      </span>
    </div>
    <h1>Projects</h1>
  </div>
</div>
<article id="post-1373" class="post-1373 page type-page status-publish hentry">
  <section class="fw-section layout-boxed without-overlay without-parallax" data-offset-top="180">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="vc_empty_space" style="height: 28px"><span class="vc_empty_space_inner"></span></div>
          <nav id="portfolio-37d264b8-filter" class="nav-filters isotope-filter text-center" data-grid-id="portfolio-37d264b8-grid">
            <ul>
              <li class="active"><a href="#" data-filter="*">All</a></li>
              <% @categories.each do |c| %>
                <li><a href="#" data-filter=".emr-ehr"><%= c.name %></a></li>
              <% end %>
            </ul>
          </nav>
          <div id="portfolio-37d264b8-grid" class="masonry-grid isotope-grid grid-with-gap filtered-grid row" style="position: relative; height: 897px;">
            <div class="grid-sizer"></div>

            <%= render @projects %>

          </div>
          <section class="pagination font-family-nav border-default-top border-default-bottom text-center justify-content-center">
            <div class="spinner-wrap">
              <div class="spinner-layer border-color-primary">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
             <a href="#" class="btn btn-link btn-pill btn-sm btn-default" rel="nofollow" data-si-load-more="{&quot;action&quot;:&quot;silicon_portfolio_load_more&quot;,&quot;nonce&quot;:&quot;1d7ff2fe9e&quot;,&quot;type&quot;:&quot;with-gap&quot;,&quot;query&quot;:{&quot;posts_per_page&quot;:9,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;ASC&quot;,&quot;post_type&quot;:&quot;silicon_portfolio&quot;,&quot;post_status&quot;:&quot;publish&quot;,&quot;meta_query&quot;:[{&quot;key&quot;:&quot;_thumbnail_id&quot;,&quot;compare&quot;:&quot;EXISTS&quot;}],&quot;tax_query&quot;:[{&quot;taxonomy&quot;:&quot;silicon_portfolio_category&quot;,&quot;field&quot;:&quot;slug&quot;,&quot;terms&quot;:[&quot;mhealth&quot;,&quot;emr-ehr&quot;,&quot;hl7-integration&quot;,&quot;hipaa&quot;,&quot;smart-on-fhir&quot;]}]},&quot;page&quot;:2,&quot;total&quot;:21,&quot;perPage&quot;:9,&quot;gridID&quot;:&quot;portfolio-37d264b8-grid&quot;}"><i class="si si-load-more"></i> Load More (<span data-load-more-counter="9">9</span>)</a></section>
          <div class="vc_empty_space" style="height: 60px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
    </div>
  </section>
</article>
