<% provide :title, 'Projects' %>

<div class="page-title page-title-dark page-title-normal" style="background-image: url(https://techno-soft.com/wp-content/uploads/2018/06/bg-ts-site.jpg);">
  <div class="inner">
    <div class="breadcrumbs"><!-- Breadcrumb NavXT 6.2.1 -->
      <span property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="Go to Technosoft Solutions." href="<%= root_url %>" class="home">
          <span property="name">Home</span>
        </a>
        <meta property="position" content="1">
      </span>
      <span class="separator background-primary"></span>
      <span property="itemListElement" typeof="ListItem">
        <span property="name">Projects</span>
        <meta property="position" content="2">
      </span>
    </div>
    <h1>Projects</h1>
  </div>
</div>
<article id="post-1373" class="post-1373 page type-page status-publish hentry">
  <section class="fw-section layout-boxed without-overlay without-parallax" data-offset-top="180">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="vc_empty_space" style="height: 28px"><span class="vc_empty_space_inner"></span></div>
          <nav id="portfolio-37d264b8-filter" class="nav-filters isotope-filter text-center" data-grid-id="portfolio-37d264b8-grid">
            <ul>
              <li class="active"><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".emr-ehr">EMR/EHR</a></li>
              <li><a href="#" data-filter=".hipaa">HIPAA</a></li>
              <li><a href="#" data-filter=".hl7-integration">HL7 INTEGRATION</a></li>
              <li><a href="#" data-filter=".mhealth">MHEALTH</a></li>
              <li><a href="#" data-filter=".smart-on-fhir">SMART on FHIR</a></li>
            </ul>
          </nav>
          <div id="portfolio-37d264b8-grid" class="masonry-grid isotope-grid grid-with-gap filtered-grid row" style="position: relative; height: 897px;">
            <%# <div class="gutter-sizer"></div> %>
            <div class="grid-sizer"></div>

            <%= render @projects %>

            <%# <div class="grid-item hipaa hl7-integration smart-on-fhir" style="position: absolute; left: 0px; top: 0px;">
              <article class="portfolio-post portfolio-post-tile post-5419 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-hipaa silicon_portfolio_category-hl7-integration silicon_portfolio_category-smart-on-fhir"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/Ts-client-smart-app.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Ts client smart app" srcset="https://techno-soft.com/wp-content/uploads/2018/06/Ts-client-smart-app.jpg 450w, https://techno-soft.com/wp-content/uploads/2018/06/Ts-client-smart-app-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/behavioral-health.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/behavioral-health.html" class="text-white">Behavioral Health SMART App</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/behavioral-health.html" class="navi-link-color navi-link-hover-color">Behavioral Health SMART App</a></h3>
                  <p class="portfolio-tile-text">Behavioral Health SMART on FHIR app Client: Large Children's Hospital on the East Coast Purpose: Improving the quality of care for ADHD patients. Our client is a Behavioral health Information system focused on providing evidence-based tools for improving the quality of care for ADHD (Attention deficit hyperactivity disorder) patients. Software is used by physicians, parents,...</p>
                </div>
              </article>
            </div>
            <div class="grid-item emr-ehr hipaa mhealth" style="position: absolute; left: 390px; top: 0px;">
              <article class="portfolio-post portfolio-post-tile post-5388 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-emr-ehr silicon_portfolio_category-hipaa silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2019/09/Ts-client1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Ts-client1" srcset="https://techno-soft.com/wp-content/uploads/2019/09/Ts-client1.jpg 450w, https://techno-soft.com/wp-content/uploads/2019/09/Ts-client1-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/csymplicity.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/csymplicity.html" class="text-white">Csymplicity</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/csymplicity.html" class="navi-link-color navi-link-hover-color">Csymplicity</a></h3>
                  <p class="portfolio-tile-text">Csymplicity Triage Software Bundle &nbsp; Client: Healthcare Physician Purpose: Medical Software Made Simple CSymplicity is a bundle of customized apps fulfilling the client’s goals to bridge the gap of technology and medical workflow. It focuses on making the workflow of triage patient simple between referral and tertiary facilities. It really helps to reduce the tertiary...</p>
                </div>
              </article>
            </div>
            <div class="grid-item hipaa mhealth" style="position: absolute; left: 780px; top: 0px;">
              <article class="portfolio-post portfolio-post-tile post-5393 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-hipaa silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2019/09/Ts-client2.gif" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/goally-app.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/goally-app.html" class="text-white">Goally App</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/goally-app.html" class="navi-link-color navi-link-hover-color">Goally App</a></h3>
                  <p class="portfolio-tile-text">Goally App &nbsp; Client: Behavioral &amp; Child-Development Science Purpose: Empowers kids with attention issues Goally helps parents and kids with ADHD and autism have happier mornings and nights. Goally service integrates proven scientific therapies into a friendly, fun device for ages 4-21. Parents report more calm, self-reliant, confident children with Goally. Technology &amp; Achievements: Activity...</p>
                </div>
              </article>
            </div>
            <div class="grid-item emr-ehr hipaa mhealth" style="position: absolute; left: 0px; top: 299px;">
              <article class="portfolio-post portfolio-post-tile post-1893 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-emr-ehr silicon_portfolio_category-hipaa silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/Phyzit.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Phyzit" srcset="https://techno-soft.com/wp-content/uploads/2018/06/Phyzit.jpg 450w, https://techno-soft.com/wp-content/uploads/2018/06/Phyzit-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/phyzit-tcm.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/phyzit-tcm.html" class="text-white">Phyzit TCM</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/phyzit-tcm.html" class="navi-link-color navi-link-hover-color">Phyzit TCM</a></h3>
                  <p class="portfolio-tile-text">Phyzit TCM &nbsp; Client:&nbsp;Healthcare Physician Purpose:&nbsp;EMR Care Management Solution &nbsp; Phyzit TCM is a transition of care management solution. The Phyzit solution allows physicians to visit patients via secure Video conferencing solution virtually. Phyzit is currently an iOS-based solution on the client-side with a .net based backend hosted on Microsoft Azure. Phyzit is integrated with...</p>
                </div>
              </article>
            </div>
            <div class="grid-item mhealth" style="position: absolute; left: 390px; top: 299px;">
              <article class="portfolio-post portfolio-post-tile post-1896 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/burnhelp.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="burnhelp application" srcset="https://techno-soft.com/wp-content/uploads/2018/06/burnhelp.jpg 450w, https://techno-soft.com/wp-content/uploads/2018/06/burnhelp-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/burnhelp.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/burnhelp.html" class="text-white">BurnHelp</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/burnhelp.html" class="navi-link-color navi-link-hover-color">BurnHelp</a></h3>
                  <p class="portfolio-tile-text">BurnHelp App Client:&nbsp;Healthcare Services Provider Purpose: Burn Cases Assignment System Burn Help is a Burn job assignment system. Different hospitals usually share information with burn experts any time a burn victim arrives at a hospital or an ambulance; a triage nurse would take pictures of the patient and send to burn specialist available. Sometimes this...</p>
                </div>
              </article>
            </div>
            <div class="grid-item hipaa mhealth" style="position: absolute; left: 780px; top: 299px;">
              <article class="portfolio-post portfolio-post-tile post-1897 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-hipaa silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-Android-Tablet-App.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="HealthSlate Android Tablet App1" srcset="https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-Android-Tablet-App.jpg 450w, https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-Android-Tablet-App-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/healthslate-android-tablet-app.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/healthslate-android-tablet-app.html" class="text-white">HealthSlate Android Tablet App</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/healthslate-android-tablet-app.html" class="navi-link-color navi-link-hover-color">HealthSlate Android Tablet App</a></h3>
                  <p class="portfolio-tile-text">&nbsp; HealthSlate Android Tablet App Client:&nbsp;Healthcare IT Company Purpose:&nbsp;Diabetes Educator Solution Healthslate Diabetes Educator Solution has been deployed at around three thousand educators across the country. This HealthSlate solution is delivered pre-packaged in an Android tablet for Diabetes Educators with required tools and videos for patient education. The front end is a native Android and...</p>
                </div>
              </article>
            </div>
            <div class="grid-item mhealth" style="position: absolute; left: 0px; top: 598px;">
              <article class="portfolio-post portfolio-post-tile post-1898 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-DE.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="HealthSlate DE1" width="212" height="188">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/healthslate-de.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/healthslate-de.html" class="text-white">HealthSlate DE</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/healthslate-de.html" class="navi-link-color navi-link-hover-color">HealthSlate DE</a></h3>
                  <p class="portfolio-tile-text">HealthSlate DE (For Diabetes Educators) Client: Hospital &amp; Health Care Company Purpose: Medical/Treatment Information Application The HealthSlateDE App is exclusively for use by members of the American Association of Diabetes Educators to use with patients. The app features videos, games, medication information and content from the AADE7 curriculum. “I find it extremely helpful when working...</p>
                </div>
              </article>
            </div>
            <div class="grid-item mhealth" style="position: absolute; left: 390px; top: 598px;">
              <article class="portfolio-post portfolio-post-tile post-1899 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/i-Lokun.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="i-lokun1" srcset="https://techno-soft.com/wp-content/uploads/2018/06/i-Lokun.jpg 450w, https://techno-soft.com/wp-content/uploads/2018/06/i-Lokun-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/i-lokun.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/i-lokun.html" class="text-white">i-Lokun</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/i-lokun.html" class="navi-link-color navi-link-hover-color">i-Lokun</a></h3>
                  <p class="portfolio-tile-text">i-Lokun App Client:&nbsp;Healthcare Company Purpose: Dermatology Information System i-Lokun mobile app is designed from the perspective of a doctor to be used by General Practitioners in Singapore with these primary functions: &nbsp;To be updated on CME and other lifestyle events &nbsp;To enable doctors to partake in forum groups and to communicate with each other within...</p>
                </div>
              </article>
            </div>
            <div class="grid-item hipaa mhealth" style="position: absolute; left: 780px; top: 598px;">
              <article class="portfolio-post portfolio-post-tile post-1900 silicon_portfolio type-silicon_portfolio status-publish has-post-thumbnail hentry silicon_portfolio_category-hipaa silicon_portfolio_category-mhealth"> <img src="https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-Patient-App.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="HealthSlate Patient App" srcset="https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-Patient-App.jpg 450w, https://techno-soft.com/wp-content/uploads/2018/06/HealthSlate-Patient-App-300x233.jpg 300w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="350">
                <div class="portfolio-post-tile-icon-links"> <a href="https://techno-soft.com/healthslate-patient-app.html" class="navi-link-color"><i class="si si-link"></i></a></div>
                <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/healthslate-patient-app.html" class="text-white">HealthSlate Patient App</a></h3>
                <div class="portfolio-post-info">
                  <div class="svg-bg"> <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"> <path d="m 0 10 l 100 -10, 0 100, -100 0 z" fill="white"></path> </svg></div>
                  <h3 class="portfolio-tile-title"><a href="https://techno-soft.com/healthslate-patient-app.html" class="navi-link-color navi-link-hover-color">HealthSlate Patient App</a></h3>
                  <p class="portfolio-tile-text">HealthSlate Patient App &nbsp; Client:&nbsp;Hospital &amp; Health Care Company Purpose:&nbsp;Care &amp; Disease Management System HealthSlate Patient app is a chronic disease management system entirely developed by Technosoft. It's a native iOS and Android client-side application with JSF, Sprint, Elgg, MySQL backend on Amazon's HIPAA compliant private cloud on AWS and RDS. Healthslate patient app allows...</p>
                </div>
              </article>
            </div> %>
          </div>
          <section class="pagination font-family-nav border-default-top border-default-bottom text-center justify-content-center">
            <div class="spinner-wrap">
              <div class="spinner-layer border-color-primary">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
             <a href="#" class="btn btn-link btn-pill btn-sm btn-default" rel="nofollow" data-si-load-more="{&quot;action&quot;:&quot;silicon_portfolio_load_more&quot;,&quot;nonce&quot;:&quot;1d7ff2fe9e&quot;,&quot;type&quot;:&quot;with-gap&quot;,&quot;query&quot;:{&quot;posts_per_page&quot;:9,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;ASC&quot;,&quot;post_type&quot;:&quot;silicon_portfolio&quot;,&quot;post_status&quot;:&quot;publish&quot;,&quot;meta_query&quot;:[{&quot;key&quot;:&quot;_thumbnail_id&quot;,&quot;compare&quot;:&quot;EXISTS&quot;}],&quot;tax_query&quot;:[{&quot;taxonomy&quot;:&quot;silicon_portfolio_category&quot;,&quot;field&quot;:&quot;slug&quot;,&quot;terms&quot;:[&quot;mhealth&quot;,&quot;emr-ehr&quot;,&quot;hl7-integration&quot;,&quot;hipaa&quot;,&quot;smart-on-fhir&quot;]}]},&quot;page&quot;:2,&quot;total&quot;:21,&quot;perPage&quot;:9,&quot;gridID&quot;:&quot;portfolio-37d264b8-grid&quot;}"><i class="si si-load-more"></i> Load More (<span data-load-more-counter="9">9</span>)</a></section>
          <div class="vc_empty_space" style="height: 60px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
    </div>
  </section>
</article>
