    <footer class="site-footer footer-light" style="background-color: #222222;">
      <div class="container">
        <div class="footer-row">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <section id="silicon_contacts-2" class="widget widget_silicon_contacts">
                <h3 class="widget-title">Contact Us</h3>
                <ul>
                  <li> <i class="fa fa-map-marker background-white"></i> <span class="contact-label">Find Us</span> <span class="contact-info font-family-body">87-1A Florence Road, Branford, CT. USA 06405</span></li>
                  <li> <i class="fa fa-phone background-white"></i> <span class="contact-label font-family-nav">Call Us</span> <a href="tel:(203)676-8299" class="contact-info font-family-body">(203) 676-8299</a></li>
                  <li> <i class="fa fa-envelope background-white"></i> <span class="contact-label font-family-nav">Write Us</span> <a href="mailto:info@techno-soft.com" class="contact-info font-family-body">info@techno-soft.com</a></li>
                </ul>
              </section>
            </div>
            <div class="col-md-3 col-sm-6">
              <section id="custom_html-2" class="widget_text widget widget_custom_html">
                <h3 class="widget-title">Our Company</h3>
                <div class="textwidget custom-html-widget"><a style="font-size: 15px; color: white;" href="https://techno-soft.com/about.html">About Us</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/healthcare-software-development.html">Healthcare Services</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/why-technosoft.html">Why Technosoft</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/faqs.html">FAQs</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/healthcare-it-blog.html">Tech Blog</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/careers.html">Careers</a></div>
              </section>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
              <section id="custom_html-3" class="widget_text widget widget_custom_html">
                <h3 class="widget-title">Certifications</h3>
                <div class="textwidget custom-html-widget"><a style="font-size: 15px; color: white;" href="https://techno-soft.com/cmmi-level-2.html">CMMI Level 2</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/iso-certified.html">ISO 9001:2008</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/ibm-partner.html">IBM Business Partner</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/himss-certified-healthcare-security-professional.html">HIMSS Certified</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/mysql-partner.html">MySQL Partner</a> <br>
                  <br>
                  <a style="font-size: 15px; color: white;" href="https://techno-soft.com/certifications.html">Other Certifications</a></div>
              </section>
            </div>
            <div class="col-md-3 col-sm-6">
              <section id="text-4" class="widget widget_text">
                <h3 class="widget-title">SUCCESS REPEATED</h3>
                <div class="textwidget">
                  <p>It is a pride that over 90% of our work comes from our existing customers. Our customers who once start working with us are staying with us. It is the result of our Perfect Software Development Process.</p>
                </div>
              </section>
              <section id="silicon_socials-2" class="widget widget_silicon_socials">
                <div class="social-bar text-left"><a href="https://www.facebook.com/technosoftsolutionsinc/" class="social-button sb-facebook sb-shape-circle sb-monochrome sb-light border-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"> <i class="socicon-facebook unhvrd"></i> <i class="socicon-facebook hvrd"></i> </a><a href="https://twitter.com/techno_soft" class="social-button sb-twitter sb-shape-circle sb-monochrome sb-light border-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"> <i class="socicon-twitter unhvrd"></i> <i class="socicon-twitter hvrd"></i> </a><a href="https://www.linkedin.com/company/technosoft-solutions_2/" class="social-button sb-linkedin sb-shape-circle sb-monochrome sb-light border-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"> <i class="socicon-linkedin unhvrd"></i> <i class="socicon-linkedin hvrd"></i> </a><a href="https://www.pinterest.com/technosoftsolutions/" class="social-button sb-pinterest sb-shape-circle sb-monochrome sb-light border-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"> <i class="socicon-pinterest unhvrd"></i> <i class="socicon-pinterest hvrd"></i> </a></div>
              </section>
            </div>
          </div>
        </div>
        <div class="footer-row border-default-top">
          <section id="text-2" class="widget widget_text">
            <div class="textwidget">
              <div class="social-bar text-center" style="margin-bottom: 5px;"></div>
              <p class="text-center">© 2020 Technosoft Solutions – <a href="https://techno-soft.com/offshore-software-development.html">Offshore Healthcare Software Development</a>. All rights reserved.</p>
            </div>
          </section>
        </div>
      </div>
    </footer>
  </main>
  <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh" />
</body>
</html>
